@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
    --background: #234;

    --decoration: #fa8;

    --input-text: #c8d5f4;

    --window-bar: #11111bbb;
    --window-bar-text: #c7d0ee;
    --window-bar-hover: #11111b;
    --window-background: #36373a33;
    --window-text: #c8d5f4;

    --window-opacity: 0.4;
    --window-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    --window-content-border-radius: 0px 0px 2px 2px;
    --window-bar-border-radius: 2px 2px 0px 0px;
}

body {
    display: flex;
    justify-content: center;
    font-family: JetBrains Mono, monospace;
    background: var(--background);
    align-items: center;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.window {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0px;
}

.window-titlebar {
    display: flex;
    padding: 4px 8px;
    background-color: var(--window-bar);
    border-radius: var(--window-bar-border-radius);
    
    &:hover {
        cursor: pointer;
        background-color: var(--window-bar-hover);
    }
    
    &:active {
        cursor: grabbing;
    }
}

.window-titlebar h2 {
    display: flex;
    justify-content: center;
    color: var(--window-bar-text);
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}

.window-content {
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--window-shadow);
    background: var(--window-background);
    border-radius: var(--window-content-border-radius);
    -webkit-backdrop-filter: blur(1.25px);
    backdrop-filter: blur(1.25px);
    margin: 0px;
    gap: 12px;
}

.window .field {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.window label {
    padding-left: 2px;
    flex-direction: row;
    color: var(--window-text);

    &:hover {
        cursor: pointer;
    }
}

.window a {
    display: flex;
    justify-content: center;
    color: var(--input-text);
    text-decoration: none;

    &:hover {
        color: var(--decoration);
    }
}

.window input {
    display: flex;
    font-family: JetBrains Mono, monospace;
    background-color: transparent;
    color: var(--input-text);
    flex-grow: 2;
    border: none;
    
    &:focus {
        outline: none;
    }
}

.field span {
    color: var(--decoration);
}

.button {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    padding: 8px 16px;
    
    &:hover {
        color: var(--decoration);
        background-color: rgba(0,0,0,0.075);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
}
