.field {
  overflow: hidden;

  &:hover p {
    color: var(--decoration);
  }

  &:hover {
    cursor: pointer;
  }
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.display p {
  margin: 0px;
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & > :first-child {
    width: 10%;
  }
}

svg path {
  fill: var(--window-text);
}

.edit button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  text-transform: uppercase;
  align-items: center;
  padding: 0px 8px;
  outline: none;
  height: 100%;
  border: none;

  &:hover path {
    fill: var(--decoration);
    cursor: pointer;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.075);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}

.edit input::placeholder {
  color: var(--input-placeholder);

  &:hover {
    color: var(--decoration);
  }
}

.hidden {
  width: 0px;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}

.show {
  width: 100%;
  transition: all 0.6s ease-in-out;
}
